apiVersion: v1
kind: ServiceAccount
metadata:
  name: node-reaper
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::AWS_ACCOUNT_ID:role/IAM_ROLE_NAME
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-reaper
  labels:
    app: node-reaper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-reaper
  template:
    metadata:
      labels:
        app: node-reaper
    spec:
      serviceAccountName: node-reaper
      containers:
        - name: node-reaper
          image: sgdan/node-reaper:latest
          env:
            - name: CORS_ENABLED
              value: "false"
---
apiVersion: v1
kind: Service
metadata:
  name: node-reaper
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: node-reaper
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
  name: node-reaper-ingress
spec:
  rules:
    - host: HOST
      http:
        paths:
          - backend:
              serviceName: node-reaper
              servicePort: 8080
            path: /
